# Planning & AI Guides (To keep the assessment clean)
AGENTS.md
CLAUDE.md
project-docs/

# dependencies
/node_modules
/.pnpm-debug.log*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
